.recommend-filter {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(10px);

    &__link {
        border: 1px solid rgba($gray-300, .3);
        border-radius: $border-radius;
        background-color: $white;
        color: inherit;
        @include font-size(14px);
        min-width: rem(100px);
        margin-right: rem(10px);
        margin-top: rem(10px);
        padding: rem(9px) rem(20px);
        text-align: center;

        &:last-child {
            margin-right: 0;
        }

        @include hover() {
            background-color: $primary;
            border-color: $primary;
            color: $white;
            text-decoration: none;
        }
    }
}

.filter-top-broker {
    overflow: hidden;
    padding: rem(30px) 0;

    @include media-breakpoint-up('md') {
        padding: rem(50px) 0;
    }
}

.filter-broker-slider {
    margin: 0 rem(-7.5px);

    .slick-track {
        margin: 0;
        padding: rem(15px) 0;
    }

    .slick-list {
        overflow: visible;
        @include media-breakpoint-up('md') {
            overflow: hidden;
        }
    }

    &__item {
        background-color: $white;
        border-radius: 7px;
        box-shadow: 0 3px 10px rgba($gray-300, .14);
        margin: 0 rem(7.5px);
        padding: rem(16px) rem(10px);
        text-align: center;

        @include media-breakpoint-up('md') {
            padding: rem(25px) rem(15px) rem(20px);
        }

        @include media-breakpoint-down('sm') {
            width: 100px;
        }

        .text-verify {
            @include font-size(10px);
           
            @include media-breakpoint-up('md') {
                @include font-size(14px);
            }
        }

        .btn {
            @include font-size(10px);
            max-width: rem(80px);

            @include media-breakpoint-up('md') {
                @include font-size(14px);
                max-width: rem(140px);
            }

            @include media-breakpoint-down('sm') {
                height: rem(28px);
            }
        }
    }
}

.mobile-filter {
    position: relative;
    z-index: 10;

    .container {
        border-top: 1px solid rgba($gray-300, .2);
        border-bottom: 1px solid rgba($gray-300, .2);
        background-color: $white;
        padding-top: rem(20px);
        padding-bottom: rem(20px);
    }

    .bootstrap-select.show {
        + .mobile-filter__overlay {
            display: block;
        }
    }

    &__overlay {
        background-color: $black2;
        display: none;
        opacity: .5;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
    }
}

.search-result {
    padding-top: rem(40px);
    padding-bottom: rem(40px);
    text-align: center;

    @include media-breakpoint-up('md') {
        padding-top: rem(60px);
        padding-bottom: 0;
    }

    &__main {
        @include font-size(14px);

        @include media-breakpoint-up('md') {
            @include font-size(20px);
        }

        span {
            @include font-size(18px);

            @include media-breakpoint-up('md') {
                @include font-size(25px);
            }
        }
    }

    &__txt {
        @include font-size(12px);

        @include media-breakpoint-up('md') {
            @include font-size(14px);
        }
    }
}

.filter-main {
    padding-top: rem(60px);
}

// Side
#filter-side {
    @include media-breakpoint-up('md') {
        opacity: 1;
    }

    @include media-breakpoint-down('sm') {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: auto;
        outline: 0;
        z-index: 10000;
    }

    &.show {
        opacity: 1;
    }
}

.filter-side {
    background-color: $gray-400;
    border: 1px solid rgba($gray-300, .2);
    padding: rem(16px);

    @include media-breakpoint-up('md') {
        background-color: $white;
        border-radius: 5px;
        padding: 0;
    }

    &__head {
        background-color: $gray-400;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @include font-size(20px);
        font-weight: $font-weight-bold;
        margin: -1px -1px 0;
        padding: rem(12px) rem(15px);

        @include media-breakpoint-up('lg') {
            padding-left: rem(30px);
            padding-right: rem(30px);
        }
    }

    &__body {
        @include media-breakpoint-up('md') {
            padding: rem(20px) rem(15px) 0;
        }

        @include media-breakpoint-up('lg') {
            padding: rem(40px) rem(30px) 0;
        }
    }

    &__footer {
        border-top: 1px solid rgba($gray-300, .3);
        margin-top: rem(26px);
        padding: rem(18px) rem(15px) rem(24px);

        @include media-breakpoint-up('lg') {
            padding-left: rem(30px);
            padding-right: rem(30px);
        }

        button {
            @include font-size(14px);
        }

        .btn-filter {
            height: rem(40px);
            max-width: rem(110px);
            width: 100%;
        }
    }

    &__row {
        background-color: $white;
        border-radius: $border-radius;
        margin-bottom: rem(5px);
        padding: rem(18px) rem(15px);

        @include media-breakpoint-up('md') {
            margin-bottom: rem(30px);
            padding: 0;
        }
    }

    &__ttl {
        @include font-size(16px);
        font-weight: $font-weight-medium;
        margin-bottom: rem(13px);
    }

    &__result {
        color: $gray-300;
        @include font-size(12px);
    }

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -3px;
        padding-left: 0;

        > li {
            flex: 0 33.33%;
            max-width: 33.33%;
            padding: 0 3px;

            &:nth-child(n+4) {
                margin-top: 8px;
            }
        }
    }

    .ui-slider-horizontal {
        height: rem(5px);

        .ui-slider-handle {
            top: rem(-8px);
        }
    }

    .bootstrap-select {
        @include font-size(14px);

        .btn {
            font-size: inherit;
        }
    }
}

// main
.sort-dropdown {
    display: inline-block;

    @include media-breakpoint-down('sm') {
        position: static;
    }

    .dropup, .dropright, .dropdown, .dropleft {
        @include media-breakpoint-down('sm') {
            position: static;
        }
    }

    .bootstrap-select {
        > .dropdown-menu {
            min-width: 100%;
            padding-top: 0.625rem;

            @include media-breakpoint-down('sm') {
                left: 0 !important;
                top: 100% !important;
                transform: none !important;
                width: 100vw;
                border-radius: 0;
                border: none;
                margin-top: 0;
                padding: rem(20px) rem(15px);
            }
        }
    }

    .show > .btn-light.dropdown-toggle {
        @include media-breakpoint-down('sm') {
            background-color: transparent;
            border-color: transparent;
        }
    }

    .dropdown-toggle {
        background-color: transparent;
        border: none;
        font-weight: bold;
        padding: 0;

        @include media-breakpoint-up('md') {
            background-color: $gray-400;
            padding: rem(12px) rem(20px);
        }

        @include media-breakpoint-down('sm') {
            &:focus {
                box-shadow: none;
            }
        }
    
        &::after {
            background: $icon-arrow-down-medium no-repeat center / contain;
            border: none;
            height: 6px;
            width: 11px;
        }
    }

    .bs-placeholder {
        color: inherit !important;
    }

    .filter-option-inner-inner {
        &::before {
            content: 'Sắp xếp: ';
            font-weight: 400;
        }
    }
}

.filter-list {
    list-style: none;
    padding-left: 0;

    & > li {
        margin-bottom: rem(20px);

        @include media-breakpoint-up('md') {
            background-color: $gray-400;
            border-radius: $border-radius;
            margin-bottom: rem(15px);
            padding: rem(30px) rem(20px);
        }

        &:last-child {
            margin-bottom: 0;
        }

        .review-star {
            @include media-breakpoint-up('md') {
                @include font-size(22px);
                line-height: 1;
            }
        }

        .compare-added {
            font-size: 0 !important;

            i {
                display: none;
            }

            &::before {
                content: '';
                border-left: 1.5px solid $primary;
                border-bottom: 1.5px solid $primary;
                height: rem(5px);
                width: rem(12px);
                transform: rotate(-45deg);
                display: inline-block;
                position: relative;
                margin-right: rem(10px);
                transform-origin: top;
                top: -2px;
                
                @include media-breakpoint-up('md') {
                    height: rem(7px);
                    width: rem(15px);
                    top: 0;
                }
            }

            &::after {
                content: 'Đã thêm';
                color: $primary;
                @include font-size(11px);

                @include media-breakpoint-up('md') {
                    @include font-size(14px);
                }
            }
        }
    }

    &__logo {
        background-color: $gray-400;
        border-radius: $border-radius;
        display: block;
        padding: rem(18px);

        @include media-breakpoint-up('md') {
            background-color: transparent;
            padding: 0;
        }
    }

    &__info {
        @include media-breakpoint-up('xl') {
            max-width: rem(410px);
        }

        .filter-star-pc {
            max-width: rem(150px);
            margin-left: auto;
            text-align: center
        }
    }

    &__intro {
        @include font-size(12px);

        @include media-breakpoint-up('md') {
            @include font-size(14px);
        }
    }
}

.filter-broker-desc {
    @include font-size(14px);
    margin-bottom: rem(28px);

    &:last-child {
        margin-bottom: 0;
    }

    &__label {
        @include font-size(14px);
        font-weight: 400;
        opacity: .8;
        margin-bottom: rem(8px);
    }

    &__txt {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}

.no-result {
    text-align: center;

    @include media-breakpoint-up('md') {
        margin-top: rem(115px);
    }

    &__main {
        margin: rem(50px) auto rem(13px);
        max-width: rem(296px);

        @include media-breakpoint-up('md') {
            margin-bottom: rem(30px);
        }
    }

    &__txt {
        @include font-size(14px);
    }
}