.home-main {
    position: relative;
}

.home-search {
    margin: auto;
    max-width: rem(900px);
    padding: rem(20px) rem(20px) rem(15px);

    @include media-breakpoint-up('md') {
        background-color: $white;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        position: relative;
        margin-top: rem(-160px);
        margin-bottom: rem(45px);
        z-index: 200;
    }

    @include media-breakpoint-up('lg') {
        padding: rem(35px) rem(50px);
    }

    .dropdown {
        height: 100%;
    }

    .bootstrap-select {
        .dropdown-toggle {
            border-color: transparent;

            &:hover {
                border-color: gainsboro;
            }
        }
    }

    .dropdown-toggle {
        background: $gray-100 $icon-arrow-down no-repeat right rem(10px) center / rem(5px) rem(10px);
        @include font-size(12px);
        height: 100%;
        padding: rem(12px) rem(20px) rem(12px) rem(10px);
        white-space: inherit;
        text-align: left;

        &:focus {
            box-shadow: none;
        }
    
        &::after {
            display: none;
        }
    }

    &__left {
        width: calc(100% - 170px);
    }

    &__right {
        flex-shrink: 0;
        text-align: center;
        width: rem(170px);

        button {
            @include font-size(12px);
        }

        i {
            @include font-size(14px);
        }
    }

    &__advance {
        display: none;
    }

    .slideClose, .slideOpen {
        transform-origin: 50% 0 0;
        transition: transform .3s,opacity .3s;
    }

    .slideClose {
        transform: perspective(1300px) rotateX(-90deg);
        opacity: 0;
        height: 1px;
    }

    .btn-search {
        border-radius: 0 5px 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 170px;
    }

    .dropdown-menu {
        @include font-size(12px);
        padding: 0 10px 10px;

        .range-other {
            margin: 0 -10px;

            .dropdown-item {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .bootstrap-select>.dropdown-toggle.bs-placeholder {
        color: inherit;
    }

    .bs-searchbox .form-control {
        height: rem(40px);
    }
}

.home-search-mobile {
    padding: 0 rem(15px) rem(15px);
}

.home-content {
    @include media-breakpoint-up('lg') {
        margin-right: auto;
        max-width: calc(100% - 330px) !important;
    }
}

.home-nav-tabs {
    justify-content: center;
    @include media-breakpoint-up('md') {
        justify-content: flex-start;
    }

    .nav-link {
        @include media-breakpoint-up('md') {
            @include font-size(18px);
            max-width: 30%;
        }

        @include media-breakpoint-up('lg') {
            max-width: 31.8%;
        }
    }
}

.home-compare-more {
    @include font-size(12px);

    @include media-breakpoint-up('xl') {
        @include font-size(14px);
    }
}

.home-review-item {
    background-color: $white;
    border-radius: $border-radius;
    margin-bottom: rem(15px);
    padding: rem(20px);

    @include media-breakpoint-up('xl') {
        padding: rem(22px) rem(30px);
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__info {
        padding-left: 0;
    }

    &__count {
        display: block;
    }

    &__star {
        display: block;
        margin-bottom: rem(5px);

        @include media-breakpoint-up('lg') {
            display: inline-block;
            margin-bottom: 0;
        }
    }

    &__logo {
        max-width: rem(190px);

        img {
            border-radius: $border-radius;
        }
    }

    &__name {
        @include font-size(18px);
        margin: 0 0 rem(5px);
    }

    &__slider {
        margin-bottom: rem(10px);
        padding: 0 rem(27px);
        position: relative;

        .slick-arrow {
            cursor: pointer;
            color: rgba($gray-300, .7);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }
    }

    &__slide {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; 
        display: -webkit-box;
        font-style: italic;
        text-align: center;

        .slick-initialized & {
            display: -webkit-box;
        }

        @include media-breakpoint-up('md') {
            text-align: left;
        }
    }

    .btn {
        @include font-size(14px);
    }
}

.home-compare-box {
    border: 1px dashed $primary;
    border-radius: $border-radius;
    padding: rem(30px) rem(38px);
    position: relative;

    @include media-breakpoint-up('lg') {
        padding: rem(30px) rem(56px);
    }

    @include media-breakpoint-down('sm') {
        .compare-view-more {
            position: absolute;
            top: calc(100% - 12px);
            left: 50%;
            margin-left: rem(-12px);

            a {
                background-color: $primary;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                height: rem(24px);
                font-size: 0;
                width: rem(24px);

                &::after {
                    content: '\f107';
                    font: normal normal normal rem(18px)/1 FontAwesome;
                }
            }
        }
    }

    h3 {
        @include font-size(16px);
        font-weight: bold;
        margin-bottom: rem(20px);
        text-align: center;
        text-transform: uppercase;

        @include media-breakpoint-up('lg') {
            @include font-size(18px);
            margin-bottom: rem(45px);
        }
    }

    .btn-link {
        @include font-size(14px);
    }
}

.home-news {
    .home-news-big {
        @include media-breakpoint-up('md') {
            margin-right: rem(-10px);
        }

        &__ttl {
            @include font-size(18px);
            font-weight: bold;
            margin: rem(20px) 0 0;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;

            @include media-breakpoint-up('md') {
                @include font-size(24px);
            }
        }

        &__img {
            img {
                width: 100%;
            }
        }

        a {
            color: inherit;
        }
    }

    .home-news-item {
        display: flex;
        margin-bottom: rem(14px);

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: inherit;
        }

        &__img {
            flex-shrink: 0;
            width: 50%;
            @include media-breakpoint-up('md') {
                width: rem(190px);
            }
        }

        &__info {
            margin-left: rem(20px);
            padding-top: 15px;
            width: 50%;

            @include media-breakpoint-up('md') {
                width: calc(100% - 190px);
            }
        }

        &__ttl {
            @include font-size(14px);
            font-weight: bold;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;

            @include media-breakpoint-up('md') {
                @include font-size(18px);
            }
        }
    }

    &__date {
        color: $gray-300;
        @include font-size(12px);
    }
}

.top-broker-slider {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    padding: 0 15px;

    .slick-list {
        overflow: visible;
    }
}

.home-about {
    padding-top: 0;
    
    @include media-breakpoint-up('md') {
        padding-top: rem(40px);
    }

    .title-h2 {
        border-top: 1px solid rgba($gray-300, .3);
        padding-top: rem(40px);
    }
}