.review-list {
    margin-bottom: rem(38px);
}

.review-nav-tabs {
    .nav-link {
        @include media-breakpoint-up('md') {
            @include font-size(18px);
            margin-right: rem(40px);
        }
    }
}

.review-item {
    border-radius: $border-radius;
    margin-bottom: rem(15px);
    padding: rem(15px);

    @include media-breakpoint-up('md') {
        padding: rem(30px);
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__right {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: none;

        @include media-breakpoint-up('md') {
            display: -webkit-box;
        }
    }

    .review-item__logo {
        img {
            @include media-breakpoint-up('xl') {
                max-width: rem(200px);
            }
        }
    }

    .review-star {
        @include font-size(15px);
        margin-bottom: rem(5px);

        @include media-breakpoint-up('xl') {
            @include font-size(24px);
        }
    }
}

.lastest-review {
    margin-top: rem(50px);
    @include media-breakpoint-up('md') {
        margin-top: rem(100px);
    }

    &__wrap {
        border: 1px solid rgba($gray-300, .3);
        border-radius: $border-radius;
        padding: rem(30px);
    }

    &__item {
        border-bottom: 1px solid rgba($gray-300, .3);
        margin-bottom: rem(22px);
        padding-bottom: rem(30px);

        @include media-breakpoint-up('md') {
            
        }

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .review-star {
            @include font-size(18px);
            margin-top: rem(26px);
        }
    }

    &__head {
        @include font-size(16px);
        font-weight: bold;
        margin-bottom: rem(16px);

        @include media-breakpoint-up('md') {
            margin-bottom: rem(20px);
        }
    }

    &__left {
        max-width: rem(560px);
        
        @include media-breakpoint-up('md') {
            padding-right: rem(15px);
        }
    }

    &__right {
        display: none;
        width: rem(100px);
        @include media-breakpoint-up('md') {
            display: block;
        }
    }

    &__logo {
        background-color: $gray-400;
        border-radius: $border-radius;
        padding: rem(6px) rem(12px);
    }
}

.fixed-bottom {
    animation-duration:.3s;
    animation-fill-mode:both;
    box-shadow: $box-shadow;

    &.hidden {
        animation-name: fadeOutDown;
    }

    &.show {
        animation-name: fadeInUp;
    }
}