#header {
    background-color: $white;
    position: relative;
    z-index: 1100;

    .logo {
        img {
            width: 120px;

            @include media-breakpoint-up('md') {
                width: auto;
            }
        }
    }

    .navbar {
        padding: 0;

        @include media-breakpoint-up('lg') {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }       
    }

    .navbar-nav {
        > li {
            border-bottom: 2px solid $gray-400;
            margin-bottom: rem(15px);
            padding-bottom: rem(15px);

            @include media-breakpoint-up('lg') {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    
    .navbar-toggler {
        position: absolute;
        top: rem(-37px);
        left: 0;
        padding: 0;
    
        &:focus {
            outline: none;
        }

        @include media-breakpoint-up('md') {
            top: rem(-62px);
        }
    }

    .nav-link {
        color: inherit;
        display: flex;
        align-items: center;
        @include font-size(14px);
        font-weight: 400;
        padding: 0;
        position: relative;

        @include media-breakpoint-up('lg') {
            font-weight: $font-weight-medium;
            padding: rem(16px) 0;
            text-transform: uppercase;

            &::after {
                content: '';
                background-color: $primary;
                height: 3px;
                width: 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                transition: .3s ease;
                transform: translateX(-50%);
                opacity: 0;
            }
        
            &:hover {
                color: $primary;
        
                &::after {
                    opacity: 1;
                    width: 100%;
                }
            }
        }

        .nav-link-icon {
            margin-right: rem(22px);

            @include media-breakpoint-up('lg') {
                display: none;
            }
        }
    }

    .nav-item {
        position: relative;

        &:last-child {
            margin-right: 0;
        }

        @include media-breakpoint-up('lg') {
            margin-right: rem(30px);
            &:hover {
                .navbar-nav-sub {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }

        @include media-breakpoint-up('xl') {
            margin-right: rem(50px);
        }
    
        &.active {
            > .nav-link {
                color: $primary;

                @include media-breakpoint-up('lg') {
                    &::after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }
    }    
    
    .navbar-nav-sub {
        background-color: $white;
        list-style: none;
        margin-top: rem(18px);
        padding-left: rem(47px);
        z-index: 1000;

        @include media-breakpoint-up('lg') {
            box-shadow: $box-shadow;
            margin-top: 0;
            position: absolute;
            padding: rem(10px) rem(16px);
            top: 100%;
            left: 0;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: .3s ease;
        }

        .nav-item {
            display: flex;
            align-items: center;
            margin-bottom: rem(13px);
            margin-right: 0;

            &::before {
                content: '';
                background-color: $gray-300;
                border-radius: 50%;
                height: 5px;
                width: 5px;
                margin-right: 8px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            @include media-breakpoint-up('lg') {
                margin-bottom: rem(10px);

                &::before {
                    display: none;
                }
            }
        }
    
        .nav-link {
            display: inline-block;
            
            @include media-breakpoint-up('lg') {
                padding: rem(5px) 0;
            }
        }
    }
}

.h-social {
    @include media-breakpoint-down('md') {
        display: flex;
        justify-content: center;
        padding-top: rem(25px);

        a {
            border: 1px solid $primary;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 4px;
            height: rem(50px);
            width: rem(50px);
        }

        .icon-tele {
            background-image: escape-svg($icon-tele-primary);
        }

        .icon-fb {
            background-image: escape-svg($icon-fb-primary);
        }

        .icon-zalo {
            background-image: escape-svg($icon-zalo-primary);
            height: 19.63px;
            width: 20.63px;
        }
    }
}

.hamburger-box {
    position: relative;
    display: block;
    cursor: pointer;
    height: rem(12px);
    width: rem(16px);
    z-index: 100;

    @include media-breakpoint-up('md') {
        height: rem(24px);
        width: rem(32px);
    }

    [aria-expanded="true"] & {
        .hamburger-inner{
            -webkit-transition-delay: .12s;
            transition-delay: .12s;
            -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
            transform: rotate(45deg);
            &:before{
                transition: top 75ms ease,opacity 75ms ease .12s;
                opacity: 0;
                top: 0;
            }
            &:after{
                transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
                transform: rotate(-90deg);
                bottom: 0;
            }
        }
    }
}
.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
}

%ham-inner{
    position: absolute;
    width: rem(16px);
    height: 1px;
    background-color: $gray-300;
    transition: transform .15s ease;
    border-radius: 1.5px;

    @include media-breakpoint-up('md') {
        width: rem(32px);
        height: 2px;
    }
}

.hamburger-inner {
    @extend %ham-inner;
    display: block;
    margin-top: -2px;
    top: 50%;
    -webkit-transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    -webkit-transition-duration: 75ms;
    transition-duration: 75ms;
    &:before{
        @extend %ham-inner;
        top: rem(-5px);
        transition: top 75ms ease .12s,opacity 75ms ease;

        @include media-breakpoint-up('md') {
            top: rem(-10px);
        }
    }
    &:after{
        @extend %ham-inner;
        bottom: rem(-5px);
        transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);

        @include media-breakpoint-up('md') {
            bottom: rem(-10px);
        }
    }
}

.header-overlay {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(#000, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}