.modal-title {
    @include font-size(20px);
    font-weight: $font-weight-medium;
    text-transform: uppercase;
}

.modal-search-item {
    background-color: $white;
    border-radius: $border-radius;
    margin-bottom: rem(5px);
    padding: rem(18px) rem(15px);

    &__ttl {
        @include font-size(14px);
        font-weight: $font-weight-medium;
        margin-bottom: rem(20px);
    }

    .bootstrap-select {
        .dropdown-toggle {
            @include font-size(12px);
        }

        .no-results {
            background-color: transparent;
            @include font-size(12px);
        }
    }    
}

.modal-search-result {
    color: $gray-300;
}

.btn-modal-search {
    height: rem(50px);
}

.popup-compare {
    background-color: $white;
    box-shadow: $box-shadow;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: rem(204px);
    padding: rem(25px) 0 0;
    transition: .3s ease;
    z-index: 1200;

    @include media-breakpoint-up('md') {
        padding: rem(40px) 0;
    }

    &.hidden {
        height: rem(40px);
        padding: rem(10px) 0;

        .popup-compare-main {
            display: none;
        }

        .popup-compare-txt {
            display: block;
        }
    }

    &.none {
        height: 0;
        padding: 0;
    }

    .popup-compare-txt {
        display: none;
        color: $primary;
        cursor: pointer;
        @include font-size(14px);
        text-align: center;
    }

    .btn {
        border-radius: 0;
        margin: 0 rem(-15px);
        height: rem(44px);
        width: 100vw;

        @include media-breakpoint-up('md') {
            border-radius: $border-radius;
            margin: 0;
            height: rem(40px);
            width: rem(193px);
        }
    }

    .popup-compare-list {
        display: flex;
        justify-content: center;

        @include media-breakpoint-up('md') {
            justify-content: flex-start;
        }
    }

    .popup-compare-item {
        background-color: $gray-400;
        border-radius: $border-radius;
        margin-right: rem(10px);
        padding: rem(12px) rem(19px);
        position: relative;

        &:last-child {
            margin-right: 0;
        }

        img {
            max-width: rem(92px);
        }

        .x-del {
            background: $white url('../../images/icons/icon-close.svg') no-repeat center / contain;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            right: rem(-7px);
            top: rem(-7px);
            height: rem(20px);
            width: rem(20px);
        }
    }
}

.notice-modal {
    &__icon {
        @include font-size(40px);
        line-height: 1;
        margin-bottom: rem(16px);
        text-align: center;
    }
}