.home-side {
    @include media-breakpoint-up('lg') {
        margin-left: auto;
        max-width: rem(330px) !important;
    }
}

.home-side-item {
    margin-bottom: rem(50px);

    @include media-breakpoint-up('md') {
        margin-bottom: rem(20px);
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.home-side-box {
    @include media-breakpoint-up('md') {
        background-color: $primary;
        border-radius: rem(7px);
        padding: rem(16px);

        .side-title {
            color: $white;

            a {
                color: inherit;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .text-verify, .text-verify i {
            color: rgba($white, .8);
        }
    }
}

.home-side-broker {
    background-color: $white;
    border-radius: $border-radius;
    max-width: rem(100px);
    margin: 0 rem(6px);
    padding: rem(16px) rem(8px);

    @include media-breakpoint-up('md') {
        background-color: transparent;
        margin: 0 0 rem(15px);
        max-width: 100%;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__left {
        @include media-breakpoint-up('xl') {
            max-width: rem(230px);
        }
    }
    
    &__right {
        @include media-breakpoint-up('md') {
            padding-left: 0;
        }
    }

    &__logo {
        max-width: rem(200px);
        margin-bottom: rem(10px);
        text-align: center;

        @include media-breakpoint-up('md') {
            background-color: $gray-400;
            border-radius: $border-radius;
            margin-bottom: 0;
            padding: rem(10px);
        }

        @include media-breakpoint-up('lg') {
            padding: rem(10px) rem(20px);
        }
    }

    .text-verify {
        @include media-breakpoint-down('sm') {
            @include font-size(10px);
        }
    }

    .btn {
        @include font-size(10px);
        max-width: rem(130px);
        width: 100%;

        @include media-breakpoint-up('sm') {
            @include font-size(12px);
        }
    }

    .btn-warning {
        &:hover {
            background-color: $yellow;
            border-color: $yellow;
            color: $white;
        }

        @include media-breakpoint-down('sm') {
            background-color: $primary;
            border-color: $primary;
            color: $white;

            &:hover, &:focus, &:active {
                box-shadow: none !important;
                background-color: $primary !important;
                border-color: $primary !important;
                color: $white !important;
            }
        }
    }
}

.broker-detail-side {
    @include media-breakpoint-up('lg') {
        padding: rem(50px) rem(50px) rem(42px);
    }

    .review-star i {
        @include font-size(30px);
    }
}