.table-custom {
    display: flex;
    width: 100%;
    @include media-breakpoint-up('md') {
        display: table;
    }

    &__row {
        @include media-breakpoint-up('md') {
            display: table-row;

            &:last-child {
                .table-custom__col {
                    border-bottom: none;
                }
            }
        }

        @include media-breakpoint-down('sm') {
            border-right: 1px dashed rgba($gray-300, .4);
            text-align: right;
            width: 50%;
    
            &:last-child {
                border-right: none;
                text-align: left;
            }
        }
    }

    &__head {
        display: none;
        color: $gray-300;
        @include font-size(14px);
        text-align: center;

        @include media-breakpoint-up('md') {
            display: table-row;
        }

        .table-custom__col {
            font-weight: 400;
            padding: rem(16px) rem(10px);
        }
    }

    &__name {
        @include media-breakpoint-down('sm') {
            display: none;
        }
    }

    &__col {
        border-bottom: 1px dashed rgba($gray-300, .4);
        font-weight: bold;
        padding: rem(12px) rem(10px);

        @include media-breakpoint-up('md') {
            display: table-cell;
            min-width: rem(90px);
            padding: rem(28px) rem(10px);
            text-align: center;

            &:first-child {
                min-width: 1px;
                text-align: left;
            }
        }       
        
        @include media-breakpoint-up('xl') {
            min-width: rem(150px);
        }
        
        @include media-breakpoint-down('sm') {
            &:last-child {
                border-bottom: none;
            }
        }

        .review-star {
            @include font-size(12px);
        }
    }

    .limit-line {
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }
}

.table-detail-info {
    width: 100%;

    th, td {
        padding-bottom: rem(10px);
    }

    th {
        color: $gray-300;
        font-weight: 400;
        min-width: rem(90px);
    }

    td {
        font-weight: bold;
        padding-left: rem(16px);
        text-align: right;

        @include media-breakpoint-up('lg') {
            text-align: left;
        }
    }
}

.table-compare {
    margin-bottom: 0;
    width: 100%;

    &__group {
        margin-bottom: rem(5px);
        position: relative;
    }

    &__row {
        display: flex;

        &:last-child {
            .table-compare__col {
                border-bottom: none;
            }
        }

        @include media-breakpoint-up('md') {
            &:last-child {
                .table-custom__col {
                    border-bottom: none;
                }
            }
        }
    }

    &__head {
        @include font-size(12px);
        @include media-breakpoint-up('md') {
            @include font-size(16px);
            text-align: center;
        }

        &.fixed {
            .table-compare__clone {
                box-shadow: 0 2px 5px rgba($black, .1);
                position: fixed;
                top: 0;
                margin: auto;
                max-width: calc(100% - 30px);

                @include media-breakpoint-up('sm') {
                    max-width: 510px;
                }

                @include media-breakpoint-up('md') {
                    max-width: 690px;
                }

                @include media-breakpoint-up('lg') {
                    max-width: 930px;
                }

                @include media-breakpoint-up('xl') {
                    max-width: 1170px;
                }
            }
        }

        .table-compare__col {
            border-bottom: none;
            font-weight: 400;
            padding: rem(14px) rem(10px);
            text-align: left;

            @include media-breakpoint-up('xl') {
                padding: rem(20px);
            }
        }

        .review-star {
            @include font-size(16px);
            margin-bottom: rem(14px);

            @include media-breakpoint-up('md') {
                margin-bottom: rem(20px);
            }
    
            @include media-breakpoint-up('lg') {
                @include font-size(20px);
            }
        }

        .table-compare__clone {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;

            .table-compare__col {
                padding-bottom: 0;
            }
        }
    }

    &__title {
        text-transform: uppercase;

        .table-compare__col {
            display: block !important;
            border-bottom: none;
            @include font-size(16px);
            text-align: center;

            &::before {
                display: none;
            }

            @include media-breakpoint-up('md') {
                text-align: left;
            }

            @include media-breakpoint-down('sm') {
                padding: rem(20px) rem(15px);
            }
        }
    }

    &__col {
        border-bottom: 1px dashed rgba($gray-300, .3);
        border-right: 1px dashed rgba($gray-300, .3);
        flex: 1;
        flex-shrink: 0;
        font-weight: bold;
        padding: rem(10px) rem(20px);

        &:first-child, &:last-child {
            border-right: none;
        }

        @include media-breakpoint-up('md') {
            padding: rem(14px) rem(15px);
            text-align: center;

            &:first-child {
                text-align: left;
            }
        }        

        @include media-breakpoint-down('sm') {
            &:first-child, &:nth-child(n+4) {
                display: none;
            }

            &:nth-child(2) {
                text-align: right;
            }

            &:nth-child(3) {
                border-right: none;
            }

            &::before {
                content: attr(data-title);
                color: $gray-300;
                display: block;
                @include font-size(12px);
                font-weight: 400;
                margin-bottom: 5px;
            }
        }

        &:first-child {
            @include media-breakpoint-up('md') {
                max-width: rem(233px);
            }
        }

        .review-star {
            @include font-size(16px);
        }
    }
}