.title-h1 {
    @include font-size(20px);
    font-weight: bold;
    margin-bottom: rem(14px);
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up('md') {
        @include font-size(32px);
        margin-bottom: rem(20px);
    }
}


.title-h2 {
    @include font-size(20px);
    font-weight: bold;
    margin-bottom: rem(20px);
    text-transform: uppercase;
    text-align: center;

    @include media-breakpoint-up('md') {
        margin-bottom: rem(40px);
        text-align: left;
    }

    @include media-breakpoint-up('lg') {
        @include font-size(30px);
    }
}

.side-title,
.title-h3 {
    @include font-size(18px);
    font-weight: bold;
    margin-bottom: rem(20px);

    @include media-breakpoint-up('md') {
        margin-bottom: rem(30px);
    }

    @include media-breakpoint-up('lg') {
        @include font-size(20px);
    }
}

.title-h4 {
    @include font-size(18px);
    font-weight: $font-weight-bold;
    margin-bottom: rem(14px);
}

.dotted-title {
    color: $primary;
    display: flex;
    align-items: center;
    @include font-size(14px);
    font-weight: 500;
    margin-left: rem(-18px);
    margin-bottom: rem(16px);

    @include media-breakpoint-up('md') {
        @include font-size(16px);
    }

    &::before {
        content: '';
        border-radius: 50%;
        border: 2px solid $primary;
        margin-right: rem(8px);
        height: rem(10px);
        width: rem(10px);
    }
}